*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.ekran{
    width: 100%;
    height: 100vh;
    background: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tort{
    width: 500px;
    height: 500px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qiyshuqroq{
    width: 300px;
    height: 300px;
    background: dodgerblue;
    transform: rotate(15deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.qiyshuq{
    width: 150px;
    height: 150px;
    background: blue;
    transform: rotate(25deg);
}